<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .tbl {
            background: lightyellow;
            padding: 10px;
            border-radius: 10px;
        }

        #tblGrid {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border: 1px solid gray;
        }

        #tblGrid td {
            border: 1px solid rgb(133, 130, 135);/*#dddddd*/
            text-align: left;
            padding: 8px;
        }

        /*#tblGrid tr:nth-child(even) {
            background-color: #dddddd;
        }*/        
    </style>
</head>
<body>   
    <div id="divMatrix" class ="tbl" style="display:none;">        
    </div>
</body>
</html>

